@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');
:root{
    --light-color: rgb(192, 107, 107);
    --light-color-alt: rgb(30,144,255);
    --primary-background-color: #37393d;
    --secondary-background-color: #86c5bd;
    
    --hover-light-color: var(--light-color);
    --hover-dark-color: var(--primary-background-color);
    --gradient-color: linear-gradient(
        115deg,#4fcf70,#fad648,#a767e5,#12bcfe,#44ce7b);
    --transparent-light-color: rgba(255,255,255,.05);
    --transparent-dark-color: rgba(0,0,0,.75);
    --font-family: 'Poppins', sans-serif;
    --font-size-xsm: 1.2rem;
    --font-size-sm: 1.6rem;
    --font-size-md: 2.4rem;
    --font-size-lg: 3rem;
    --font-size-xl: 4rem;
    --gap: 2rem;
    --margin-sm: 2rem;
    --margin-md: 3rem;
    --item-min-height-sm: 20rem;
    --item-min-height-md: 30rem;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.main{
    font-family: var(--font-family);
    font-size: var(--font-size-sm);
    color: var(--light-color-alt);
    background-color: var(--primary-background-color);
    letter-spacing: 1px;
    transition: background-color .25s,color .25s;
    display:overflow;
    position:relative;
    
}
a{
  text-decoration:none;
}
i{
    font-size: var(--font-size-md);
}

body.light-theme{
    --light-color: #3d3d3d;
    --light-color-alt: rgba(0,0,0,.6);
    --primary-background-color: #fff;
    --secondary-background-color: #f1f1f1;
    --hover-light-color: #fff;
   --transparent-dark-color: var(--secondary-background-color);
    --transparent-light-color: rgba(0,0,0,.1);
}

.container{
    max-width: 160rem;
    margin: 0 auto;
    padding: 0 1.5rem;
}
.place-items-center{
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
.d-grid{
    display: grid;
}


.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-block: 1.5rem;
    background:var(--transparent-light-color);
}
.logo{
    font-size: var(--font-size-md);
    color: var(--light-color);
}
.list{
    display: flex;
    align-items: center;
    gap: var(--gap);
}
.list-link.current{
    color: var(--light-color);
}
.btn{
    cursor: pointer;
    
}
input, button{
  border:none;
  background-color:transparent;
  outline:none;
}

.list-link:hover,
.btn:hover{
    color: var(--light-color);
}

.moon-icon{
    display: none;
}

.light-theme .sun-icon{
    display: none;
    
}

.light-theme .moon-icon{
    display: block;
}


.input-form{
    text-align: center;
    line-height:40px;
    margin:15% 10% 30% 10%;
    background:var(--transparent-light-color);
    
    
  }
  

  #input-field{
    color:--light-color: rgb(192, 107, 107);
    background-color:var(--secondary-background-color);
    border-radius:5px;
    width: 200px;
    height: 20px;
  }
  
  #input-field:hover{
    color:var(--light-color);
    background-color:var(--transparent-dark-color);
    width: 220px;
    height:22px;
  }
  
  #submit{
    color:fff;
    background-color:var(--secondary-background-color);
    border-radius:15px;
    width: 100px;
    height:22px;
  }
  
  #submit:hover{
    color:rgb(150, 14, 14);
    background-color:var(--secondary-background-color);
    width: 120px;
    height:26px;
  }

.header.activated{
    box-shadow: 0 1px .5rem var(--transparent-light-color);
}
.footer{
  text-align:center;
  font-size:var(--font-size-sm);
  background-color:var(--transparent-light-color);
  position:relative;
  bottom:0px;
}



::-webkit-scrollbar {
    width: 1rem;
}
  
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
  
::-webkit-scrollbar-thumb {
    background: #3f4254;
}
  
::-webkit-scrollbar-thumb:hover {
    background: #2e303b;
}

@media (max-width:500px){
  .input-form{
    display:flex;
    flex-direction:column;
    margin:15% 10% 30% 10%;
    padding:10px 0px 10px 0px;
    align-items:center;
  }
  